* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    }

body {
    font-family: 'Noto Serif', serif;
    background: white;
    color: rgb(0, 0, 0);
    overflow: hidden;
    overflow-y: scroll;
}